{:kotoba.app/id "cloud.itonami.isic-2395", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwuxrnkg5yi6ivxr4o22qtfz3ik7jvmxmmykevaiozd2wl55gcby", :kotoba.app/embed-url "ipfs://bafkreifwuxrnkg5yi6ivxr4o22qtfz3ik7jvmxmmykevaiozd2wl55gcby", :published {:archive "https://kotobase.net/ipfs/bafkreifwuxrnkg5yi6ivxr4o22qtfz3ik7jvmxmmykevaiozd2wl55gcby", :size 73367, :put-status 201, :get-status 200, :at "2026-08-15T13:43:25.846Z"}}
