{:deps {io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git", :git/sha "448f1bf71dcbfa6bf11bf99248b6e225f51eea02"}, io.github.kotoba-lang/robotics {:local/root "../../kotoba-lang/robotics"}, io.github.kotoba-lang/edn {:git/sha "79dba32c8892058842c57783f06a2dfe4601aeb0"}}}